body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  background: rgb(0 0 0 / 13%);
  padding: 15px;
    
}

.container div.hvrbox{
  background-color: white;
  flex: 1 0 calc(33.33% - 10px);
  margin: 5px; 
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

div.hvrbox,
div.hvrbox * {
	box-sizing: border-box;
  
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	padding: 1px;
    box-shadow: 0 2px 5px 0 white;
}
.hvrbox img {
	max-width: 100%;
    height: 100%;
	border-radius: 3px;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color:#263238;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
    background:transparent;
	color: white;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  padding: 3px;
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

.loader {
	text-align: center;
}

@media (min-width:100px)  { 
  .container div.hvrbox {    
    flex: 1 0 calc(100% - 10px)  
  }
}

@media (min-width:480px)  { 
  .container div.hvrbox {    
    flex: 1 0 calc(50% - 10px);   
  }
}

@media (min-width:600px) { 
  .container div.hvrbox {    
    flex: 1 0 calc(50% - 10px);   
  }
}

@media (min-width:801px)  { 
  .container div.hvrbox {    
    flex: 1 0 calc(33.33% - 10px);   
  }
}

@media (min-width:1025px) { 
  .container div.hvrbox {    
    flex: 1 0 calc(33.33% - 10px);   
  }
  
}


#false, #true{
	padding: 5px 8px;
    border-radius: 5pc;
    outline: 0;
    box-shadow: none;
    border: 1px solid white;
    background: transparent;
    margin-top: 20px;
	color:white;
}

#true .fav-icon{
	color:green;
}
.fav-icon{
	position: absolute;
    top: -47%;
    right: -35px;
    font-size: 25px;
}


.favorite-icon{
	color: white;
	font-size:25px;
	text-align: right;
}

.favorite-icon.true{
	color:greenyellow;
}


.underline {
	text-decoration: none; 
	position: relative; 
	font-weight: bold;
	margin-bottom: 15px;
}   

.underline:after {
	position: absolute;
    content: '';
    height: 2px;
    bottom: -7px;
    width: 35px;
    background: white;
    left: 36%;
 }

 .load-more{
	 background-color: transparent;
	 color:transparent;
 }